.divPrincipal{
    padding: 150px;
    width: 100%;
   .titulo{
       font-size: 22px;
       font-weight: bold;
       text-align: center;
       margin-bottom: 15px;
       color: rgba(68, 66, 192, 0.904)
   }
    
}